/*
@font-face {
    font-family: 'Sheylendra';
    src: url('../.././sitio_web/css/Sheylendra_DEMO.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
*/
  html,
  body {
	height: 100%;
    margin: 0;
    padding: 0;  


    font-family: 'Roboto', sans-serif;
  }

  #cabecera {
    width: 100%; /* El ancho siempre será del 100% del contenedor */
    height: 100%; /* La altura ocupará el 100% de la pantalla del dispositivo */
  }

  .color {
    color: grey;
  }
  .color2 {
    color: white;
  }


  #pie {
	width: 100%; /* El ancho siempre será del 100% del contenedor */
    height: 100%; /* La altura ocupará el 100% de la pantalla del dispositivo */

	
  }
  .separador {
    position: relative;  
	  width: 100%; /* El ancho siempre será del 100% del contenedor */
    height: 100%; /* La altura ocupará el 100% de la pantalla del dispositivo */

  
  }

  #separador {
    position: relative;  
	  width: 100%; /* El ancho siempre será del 100% del contenedor */
    height: 100%; /* La altura ocupará el 100% de la pantalla del dispositivo */


  }
  #separador2 {
    position: relative;
	  width: 100%; /* El ancho siempre será del 100% del contenedor */
    height: 100%; /* La altura ocupará el 100% de la pantalla del dispositivo */  
  }



.container {
	  display:          flex;
	  justify-content:  center; /* Centra horizontalmente */
	  align-items:      center;     /* Centra verticalmente */

	  text-align:       center;      /* Alinea el texto en el centro (si el texto ocupa varias líneas) */
    font-size:				30px; 
  }
  .container2 {
    width:            100%;
    justify-content:  center; /* Centra horizontalmente */
	  align-items:      center;     /* Centra verticalmente */

	  text-align:       center;      /* Alinea el texto en el centro (si el texto ocupa varias líneas) */
    font-size:				30px; 
  }



.titulo {
  text-shadow: 0px 0px 15px goldenrod;
  font-family: 'Dancing Script', 'Roboto', sans-serif;
	font-size:			60px; 
  font-weight:bolder;
}
.subtitulo {
  text-shadow: 0px 0px 15px s;
  font-family: 'Dancing Script', 'Roboto', sans-serif;
	font-size:			35px; 
}

.content {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté delante del fondo */
    padding: 50px;
}

td {
  text-align: left;
  vertical-align: top;
}



@media only screen and (max-width: 480px) {
    /* Estilos para pantallas pequeñas como teléfonos móviles en modo vertical */

}


@media only screen and (min-width: 481px) and (max-width: 768px) {
    /* Estilos para teléfonos móviles en modo horizontal */
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para tabletas en modo vertical */

}
@media only screen and (min-width: 1025px) {
    /* Estilos para tabletas en modo vertical */

}
